.container-tet {
    position: relative;
    text-align: center;
    color: black;
    width: 100% !important;
  }
  
  .centered {
    position: absolute;
    top: 53%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
  }
  .text{
    font-family: "Audiowide", sans-serif;
        font-size: 30px;
        text-shadow: 3px 3px 3px #ababab;
     
  }